/* .divided-banner {
    display: flex;
    gap: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.banner-image {
    flex: 0 0 1;
    margin-left: calc(var(--slantAmount) * -0.5);
    width: 100%;
    transition: width 0.4s ease;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.banner-image:first-of-type {
    margin-left: 0;
}

.banner-image:hover,
.banner-image:focus {
    width: calc(200% + var(--hoverWidth));
}

.banner-image.left {
    clip-path: polygon(0 0, calc(100% - var(--slantAmount)) 0, 100% 100%, var(--slantAmount) 100%);
}

.banner-image.right {
    clip-path: polygon(var(--slantAmount) 0, 100% 0, calc(100% - var(--slantAmount)) 100%, 0 100%);
}

.banner-image.right.first {
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--slantAmount)) 100%, 0 100%);
}

.banner-image.left.first {
    clip-path: polygon(0 0, calc(100% - var(--slantAmount)) 0, 100% 100%, 0 100%);
}

.banner-image.right.last {
    clip-path: polygon(var(--slantAmount) 0, 100% 0, 100% 100%, 0 100%);
}

.banner-image.left.last {
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--slantAmount) 100%);
} */


.divided-banner {
    --slantAmount: ;
    --hoverWidth: ;

    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    place-items: center;
    overflow: hidden;
}

.banner-image.left {
    width: 0;
    min-width: calc(100% + var(--slantAmount));
    height: 0;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, calc(100% - var(--slantAmount)) 0, 100% 100%, var(--slantAmount) 100%);
    cursor: pointer;
    transition: width .5s;
}

.banner-image.right {
    width: 0;
    min-width: calc(100% + var(--slantAmount));
    height: 0;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    clip-path: polygon(var(--slantAmount) 0, 100% 0, calc(100% - var(--slantAmount)) 100%, 0 100%);
    cursor: pointer;
    transition: width .5s;
}

.banner-image:hover,
.banner-image:focus {
    width: var(--hoverWidth);
}

.banner-image.right.first {
    min-width: calc(100% + calc(var(--slantAmount) / 2));
    place-self: start;
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--slantAmount)) 100%, 0 100%);
}

.banner-image.right.last {
    min-width: calc(100% + calc(var(--slantAmount) / 2));
    place-self: end;
    clip-path: polygon(var(--slantAmount) 0, 100% 0 , 100% 100%, 0 100%);
}

.banner-image.left.first {
    min-width: calc(100% + calc(var(--slantAmount) / 2));
    place-self: start;
    clip-path: polygon(0 0, calc(100% - var(--slantAmount)) 0, 100% 100%, 0 100%);
}

.banner-image.left.last {
    min-width: calc(100% + calc(var(--slantAmount) / 2));
    place-self: end;
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--slantAmount) 100%);
}