.divided-banner {
    display: flex;
    gap: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.banner-image {
    flex: 1;
    height: 100%;
    cursor: pointer;
    background-size: var(--backgroundSize);
    background-position: center;
    transition: flex 0.4s ease;
}

.banner-image:hover,
.banner-image:focus {
    flex: var(--hoverWidth);
}

.banner-image.left {
    clip-path: polygon(0 0, calc(100% - var(--slantAmount)) 0, 100% 100%, var(--slantAmount) 100%);
    margin-right: calc(var(--slantAmount) * -1);
}

.banner-image.right {
    clip-path: polygon(var(--slantAmount) 0, 100% 0, calc(100% - var(--slantAmount)) 100%, 0 100%);
    margin-left: calc(var(--slantAmount) * -1);
}

.banner-image.right.first {
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--slantAmount)) 100%, 0 100%);
}

.banner-image.left.first {
    clip-path: polygon(0 0, calc(100% - var(--slantAmount)) 0, 100% 100%, 0 100%);
    margin-left: calc(var(--slantAmount) * -1);
}

.banner-image.right.last {
    clip-path: polygon(var(--slantAmount) 0, 100% 0, 100% 100%, 0 100%);
    margin-right: calc(var(--slantAmount) * -1);
}

.banner-image.left.last {
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--slantAmount) 100%);
}